h1 {
    text-align: center;
    padding: 30px 0 0px 0;
}

.btn-holder {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.btn-action {
    display: flex;
    justify-content: space-evenly;
}